/*LOGOTIPO*/

body{
    background: url(../img/logo3.png);
}

#logotipo{
    padding: 1%;
    margin-left: 1%;
    float:left;
}

#logotipo img{
    float:left;
    height: 8%;
    width: 8%;
}

#imagen{
    float:left;
    width: 840px;
    height: 210px;
    margin-left: 10px;
    margin-top: -70px; 
}

#imagen img{
    float:left;
    height: 100px;
    width: 150px;
}

#logotipo h4{
    margin-left: -225px;
    margin-top: 50px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;
}